/* Variables*/
$textos-centrados: center;

/* Animaciones*/

.animate__animated.animate__bounceInDown{
    --animate-duration: 4s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__bounceInRight{
    --animate-duration: 4s; 
}
.animate__animated.animate__flipInX{
    --animate-duration: 3s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__zoomInLeft{
    --animate-duration:2s;
}
.animate__animated.animate__zoomInRight{
    --animate-duration:2s;
}

